adbutils==0.13.1
apkutils2==1.0.0
Appium-Python-Client==2.1.2
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
autopy==4.0.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.5
cached-property==1.5.2
certifi==2020.4.5.1
cffi==1.15.0
chardet==3.0.4
cigam==0.0.3
colorama==0.4.3
constantly==15.1.0
cryptography==36.0.1
cycler==0.11.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.13
deprecation==2.1.0
distlib==0.3.4
docopt==0.6.2
easyocr==1.4.1
entrypoints==0.3
facebook-wda==1.4.6
filelock==3.4.2
flake8==4.0.1
fonttools==4.28.5
h11==0.12.0
hyperlink==21.0.0
idna==2.9
imageio==2.9.0
importlib-metadata==1.6.0
incremental==21.3.0
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.2
jupyterlab-server==1.1.4
kiwisolver==1.3.2
logzero==1.7.0
lxml==4.7.1
MarkupSafe==1.1.1
matplotlib==3.5.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.6.3
notebook==6.0.3
numpy==1.21.5
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
opencv-python-headless==4.5.5.62
outcome==1.1.0
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==8.2.0
pipreqs==0.4.11
platformdirs==2.4.1
progress==1.6
prometheus-client==0.7.1
prompt-toolkit==3.0.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyelftools==0.27
pyflakes==2.4.0
Pygments==2.6.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytesseract==0.3.8
python-bidi==0.4.2
python-dateutil==2.8.1
PyWavelets==1.2.0
pywin32==227
pywinpty==0.5.7
PyYAML==6.0
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
requests==2.23.0
retry==0.9.2
scikit-image==0.19.1
scipy==1.7.3
selenium==4.1.0
Send2Trash==1.5.0
service-identity @ file:///D:/workspace/mhxy2/service_identity-21.1.0-py2.py3-none-any.whl
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.0.1
terminado==0.8.3
testpath==0.4.4
tifffile==2021.11.2
torch==1.10.1
torchvision==0.11.2
tornado==6.0.4
traitlets==4.3.3
trio==0.19.0
trio-websocket==0.9.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing_extensions==4.0.1
uiautomator2==2.16.13
urllib3==1.25.11
virtualenv==20.13.0
vncdotool==1.0.0
wcwidth==0.1.9
webencodings==0.5.1
weditor==0.6.4
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.13.3
wsproto==1.0.0
wxPython==4.1.1
xmltodict==0.12.0
yarg==0.1.9
zipp==3.1.0
zope.interface==5.4.0
